html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
         ========================================================================== */
  
  /**
       * Remove the margin in all browsers.
       */
  
  body {
    margin: 0;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    line-height: 1.5;
  }

h1 {
    text-align: center;
    font-size: 32px;
}

.container {
    display: grid;
    grid: 99% / auto auto auto;
    width: auto;
    box-sizing: border-box;
    height: auto;
}

.child {
    width: auto;
    box-sizing: content-box;
    
    border: 3px solid black;
    margin: 8px;
    background-color: #999999;
}


h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 24px;
}

p {
    display: block;
    padding: 24px;
    clear: right;
    font-size: 16px;
}

.categories{
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    margin: 0px;
    padding: 6px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    width: 150px;
    float: right;
}

.category-one {
    background-color: #D59898;
    
}

.category-two {
    background-color: #C14543;
    color: white;
}

.category-three{
    background-color: #E5D198;
}

.icons {
    width: 100%;
    display: inline-flex;
    border: 3px solid black;
    background-color: #999999;
    padding: 4px;
    border-top: 0px;
}

.https {
    border: 3px solid black;
    background-color: white;
    display: inline;
    padding: 4px;
    width: 60%;
    margin-right: 10px;
}

.search {
    display: inline-flex;
    border: 3px solid black;
    width: 20%;
    height: auto;
    margin-right: 10px;
}

.section {
    width: 20%;
    display: inline;
}



#nav-title {
    display: block;
    text-align: center;
    padding: 0px;
    background-color: #999999;
    box-sizing: border-box;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border: 3px solid black;
    border-bottom: 0px;
    padding-top: 10px;
}

nav {
    display: block;
}

.material-icons {
    font-size: 24px;
    
}

i{
    padding: auto;
    word-spacing: auto;
}
#link{
    padding: 0px;
    font-size: 14px;
}

@media (min-width: 992px) {
    
}

@media (min-width: 768px) and (max-width: 991px)  {
    
    .container{
        display: grid;
        grid: auto/ auto auto;
        grid-template-areas: '. .''myarea myarea';    
    }
    .child:nth-child(3){
        grid-area: myarea;
    }
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    .categories{
    padding: 2px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    width: 100px;
    }

    #link{
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .container{
        display: block;
    }
}